<h2 style="margin: 0px;">
    {{helpdesk.title}}
</h2>

<p style="margin-top: 5px;">
    {{helpdesk.nameIssuer}}
</p>

<p>{{helpdesk.nameResponder}}</p>

<p>
    {{helpdesk.description}} descrição <br />
    {{helpdesk.openDate}}ª open date - {{helpdesk.closeDate}} 
</p>

<p>
    Status {{helpdesk.status}} <br />

</p>