<h4>
    Cadastro HelpDesk
</h4>

<form [formGroup]="formHelpDesk">

    Nome do Emissor: <br />
    <input type="text" size="30" formControlName="nameIssuer"/>
    <div *ngIf="nameIssuer.touched && nameIssuer.errors?.required" class="error-message">
        Informe o nome do emissor!
    </div>
    <br /><br />

    Email do emissor: <br />
    <input type="email" size="30" formControlName="emailIssuer" />
    <div *ngIf="emailIssuer.touched && emailIssuer.errors?.required" class="error-message">
        Informe o email do emissor!
    </div>
    <br /><br />

    Name Responder: <br />
    <input type="text" size="30" formControlName="nameResponder" />
    <div *ngIf="nameResponder.touched && nameResponder.errors?.required" class="error-message">
        Informe o Name Responder!
    </div>
    <br /><br />

    Email Responder: <br />
    <input type="email" size="30" formControlName="emailResponder" />
    <div *ngIf="emailResponder.touched && emailResponder.errors?.required" class="error-message">
        Informe o Email Responder!
    </div>
    <br /><br />

    Titulo: <br />
    <input type="text" size="30"  formControlName="title" />
    <div *ngIf="title.touched && title.errors?.required" class="error-message">
        Informe o titulo
    </div>
    <br /><br />

    Descrição: <br />
    <input type="text" size="90"  formControlName="description"/>
    <div *ngIf="description.touched && description.errors?.required" class="error-message">
        Informe a descrição!
    </div>
    <br /><br />

    <input type="button" value="Salvar" [disabled]="formHelpDesk.invalid" (click)="save()">
    &nbsp;&nbsp;
    <input type="button" value="Cancelar" (click)="cancel()">
</form>