<div>
    <form [formGroup]="formSearch">
        <select formControlName="searchType">
            <option value="1">Por Name Issuer</option>
            <option value="2">Por Name Responder</option>
        </select>
        &nbsp;
        <input type="text" size="45" formControlName="searchText"/>
        &nbsp;
        <input type="button" value="Pesquisar" [disabled]="formSearch.invalid" (click)="search()" />
        &nbsp;
        <input type="button" value="Limpar" (click)="clearSearch()"/>
    </form>
</div>

<br />
<table style="width: 90%;" border="1"> 
    <thead>
        <tr>
            <th style="width: 30%;">Emissor</th>
            <th style="width: 25%;">Responsável</th>
            <th style="width: 20%;">Titulo</th>
            <th style="width: 10%;">Descrição</th>
            <th style="width: 10%;">Data de Abertura</th>
            <th style="width: 5%;">Status</th>
            <th style="width: 10%;">Data de Fechamento</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let hd of helpdesk">
            <td>
                <a [routerLink]="['/details-helpdesk', hd.ticket_id]">{{hd.nameIssuer}}</a>
            </td>
            <td>{{hd.nameResponder}}</td>
            <td>{{hd.title}}</td>
            <td style="text-align: center;">
                {{hd.description}}
            </td>
            <td>{{dateFormater(hd.openDate)}}</td>
            <td style="text-align: center;">
                {{getStatus(hd)}}
            </td>
            <td>{{dateFormater(hd.closeDate)}}</td>
            <td><input type="button" value="Finalizar" (click)="finishProcess(hd)" [disabled] = "hd.status == 2" /></td>
        </tr>
    </tbody>
</table>