<div>
    <h1>
        Help Desk
    </h1>
    <a routerLink="list-helpdesk">Home</a>&nbsp;&nbsp;
    <a routerLink="register-helpdesk">Cadastrar Livro</a>
</div>

<div style="margin-top: 20px">
    <router-outlet></router-outlet>
</div>